.tittle-binar {
  font-size: 32px;
  font-weight: bold;
  padding-top: 20%;
}
.gambar img {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .tittle-binar {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .gambar img {
    width: 100%;
  }
  .text-mobile {
    font-size: 14px;
    text-align: center;
  }
  .button-mobile a {
    width: 100%;
  }
  .row {
    flex-wrap: wrap-reverse;
  }
}
